boto3
botocore
pypdf
python-dotenv
PyYAML
langchain
chromadb
langchain-groq
langchain_community
langchain_text_splitters 
langchain-openai
langchain-ollama
langsmith
langchain
langchain_groq
streamlit
watchdog
python-dotenv
streamlit-ace
pypdf
docx2txt
openai
tiktoken
faiss-cpu