boto3
botocore
pypdf
python-dotenv
PyYAML
langchain
chromadb
langchain-groq
langchain_community
langchain_text_splitters 
langchain-openai
langchain-ollama
langsmith
langchain
langchain_groq
streamlit
watchdog
python-dotenv
streamlit-ace
pypdf
docx2txt
openai
tiktoken
faiss-cpu
# Azure Services
azure-ai-documentintelligence
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
beautifulsoup4
diff-match-patch
flask