mistralai>=1.6.0
streamlit
pathlib
pillow
langchain_community
langchain-groq
langchain_text_splitters 
langchain-openai
langchain-ollama
langchain_google_genai
ollama
faiss-cpu
langchain
PyPDF2
pdf2image
phidata
groq
langchain-groq
#google-generativeai